Package: com.kunihir0.wattmaster
Name: WattMaster
Version: 1.0.0
Architecture: iphoneos-arm
Description: Wattpad Deshitify with QOL improvements
Maintainer: kunihir0
Author: kunihir0
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
